html {
  font-family: "IBM Plex Sans", Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #595d63;
}

@media (max-width: 22em) {
  html {
    font-size: 3.5vw;
  }
}

@media (min-width: 22em) {
  html {
    font-size: 0.75em;
  }
}

@media (min-width: 30em) {
  html {
    font-size: 0.8125em;
  }
}

@media (min-width: 35em) {
  html {
    font-size: 0.875em;
  }
}

@media (min-width: 40em) {
  html {
    font-size: 0.9375em;
  }
}

@media (min-width: 45em) {
  html {
    font-size: 1em;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.tick {
  font-size: 1rem;
  white-space: nowrap;
}

.tick-flip,
.tick-text-inline {
  font-size: 2.5em;
}

.tick-label {
  margin-top: 1rem;
  font-size: 1rem;
  text-transform: lowercase;
}

.tick-char {
  width: 1.5em;
}

.tick-text-inline {
  display: inline-block;
  text-align: center;
  min-width: 1rem;
}

.tick-text-inline + .tick-text-inline {
  margin-left: -0.325em;
}

.tick-group {
  margin: 0 0.5em;
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255) !important;
}

.tick-text-inline {
  color: rgb(90, 93, 99) !important;
}

.tick-label {
  color: rgb(90, 93, 99) !important;
}

.tick-flip-panel {
  color: rgb(255, 255, 255) !important;
}

.tick-flip-panel-text-wrapper {
  line-height: 1.45 !important;
}

.tick-flip-panel {
  background-color: rgb(59, 61, 59) !important;
}

.preset-container-wrapper {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.preset-container-wrapper > * {
  width: 80vw;
  min-width: 300px;
  max-width: 50em;
}

.preset-container {
  text-align: center;
}

.preset-container .tick-description {
  text-align: center;
  font-size: 1rem;
  max-width: 20em;
  margin: 1rem auto;
}

.tick-credits {
  opacity: 0.4;
  text-decoration: none;
  font-size: 11px;
  color: inherit;
  text-align: center;
}
